<% include ../partials/header %>

<div class="container mt-3">
    <h3 class="text-center">Add New Comment to <%= campground.name %></h3>
    <form class="mb-3" action="/campgrounds/<%= campground._id %>/comments" method="post">
        <div class="form-group">
            <label for="commentText">Comment Text</label>
            <textarea class="form-control" name="comment[text]" id="commentText" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
    <a href="/campgrounds">Go Back</a>
</div>

<% include ../partials/footer %>