<% include partials/header%>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="lead">A simple, fun way to review and share campgrounds with your friends!</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View Campgrounds</a>
    </div>
</div>

<% include partials/footer%>